POSTGRES_DB=app_db

# --- para super administrador ---
POSTGRES_USER=administrador
POSTGRES_PASSWORD=admin123
# ----------------
# ---- para replicacion-----
REPLICA_USER=usuario_replicacion
REPLICA_PASSWORD=replica123

# ---- para la aplicacion ----
APP_USER=usuario_app
APP_PASSWORD=usuario123
# ---------
# ---- para la monitorizacion ----
MONITOR_USER=usuario_monitorizacion
MONITOR_PASSWORD=monitor123
# -------------
