global
    log stdout format raw local0
defaults
    log      global
    mode   tcp
    timeout connect 5s
    timeout client 30m
    timeout server  30m

resolvers docker_dns
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry   1s
    hold valid      5s

# --- panel web de estadísticas (monitoreo visual) ---
frontend stats
    mode http
    bind *:8404
    stats enable
    stats uri /
    stats refresh 5s

# --- entrada de ESCRITURA (envia siempre al primario) ---
frontend pg_cluster_write
    bind *:5000
    default_backend pg_cluster_write_backend

backend pg_cluster_write_backend
    mode tcp
    # por ahora apunta solo a db-node1 (el primario)
    server node1 db-node1:5432 check resolvers docker_dns init-addr libc,none

# --- entrada de LECTURA (puerto 5001 -> replicas) ---
frontend pg_cluster_read
    bind *:5001
    default_backend pg_cluster_read_backend

backend pg_cluster_read_backend
    mode tcp
    timeout connect 5000ms
    balance roundrobin

    # --- replicas que atienden las lecturas normales: 
    server node2 db-node2:5432 check resolvers docker_dns init-addr libc,none
    server node3 db-node3:5432 check resolvers docker_dns init-addr libc,none

    # --- nodo 1 como respaldo (solo se usa si se caen las dos replicas)---
    server node1 db-node1:5432 check backup resolvers docker_dns init-addr libc,none
    

