global
    log stdout format raw local0
defaults
    log      global
    mode   tcp
    timeout connect 5000ms
    timeout client 5000ms
    timeout server  50000ms

resolvers docker_dns
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry   1s
    hold valid      5s

# --- panel web de estadísticas (monitoreo visual) ---
frontend stats
    mode http
    bind *:8404
    stats enable
    stats uri /
    stats refresh 5s

# --- entrada de ESCRITURA (envia siempre al primario) ---
frontend pg_cluster_write
    bind *:5000
    default_backend pg_cluster_write_backend

backend pg_cluster_write_backend
    mode tcp
    # por ahora apunta solo a db-node1 (el primario)
    server node1 db-node1:5432 check resolvers docker_dns init-addr libc,none

# --- entrada de LECTURA (puerto 5001 -> replicas) ---
frontend pg_cluster_read
    bind *:5001
    timeout client 50000ms
    default_backend pg_cluster_read_backend

backend pg_cluster_read_backend
    mode tcp
    timeout server 50000ms
    timeout connect 5000ms
    balance roundrobin
    #por ahora lee de node1

    # --- aviso descomentar node2 y 3 cuando se cree en docker compose---
    server node1 db-node1:5432 check resolvers docker_dns init-addr libc,none

    # server node2 db-node2:5432 check resolvers docker_dns init-addr libc,none
    # server node3 db-node3:5432 check resolvers docker_dns init-addr libc,none
    

